{% extends "base.html" %}
{% block body %}
    {% comment %} Card {% endcomment %}
    {% if student %}
        {% if success %}
            <div class="alert alert-success" role="alert">
                The student was deleted from the record!
                <a href="{% url 'index' %}" class="alert-link">Go to Home Page.</a>
            </div>
        {% else %}
            <div class="card bg-light ms-4 me-4 mb-4 mt-4">
                <h5 class="alert alert-danger">Are you sure you want to delete
                    student: {{ student.first_name }} {{ student.last_name }} ?</h5>
                <div class="m-4">
                    <ul class="list-unstyled">
                        <li>Student Number: <strong>{{ student.student_number }}</strong></li>
                        <li>Email: <strong>{{ student.email }}</strong></li>
                        <li>Field Of Study: <strong>{{ student.field_of_study }}</strong></li>
                        <li>GPA: <strong>{{ student.gpa }}</strong></li>
                    </ul>
                </div>
                <div style="display: flex; align-items: center">
                    <form action="{% url 'delete' student.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="Delete">
                    </form>
                    <a href="{% url 'index' %}" type="button" class="btn btn-secondary ms-2" >Cancel</a>
                </div>
            </div>
        {% endif %}
    {% else %}
        <h5 class="alert alert-primary ms-4 me-4">No Student Records</h5>
    {% endif %}
{% endblock %}