{% extends "base.html" %}
{% block body %}
  {% comment %} Card {% endcomment %}
  {% if student %}
  <div class="card bg-light ms-4 me-4 mb-4 mt-4" >
    <div class="card-header">
        <i class="fa-solid fa-user fa-lg"></i> {{ student.first_name }} {{ student.last_name }}
    </div>
    <div class="m-4">
        <ul class="list-unstyled">
            <li>Student Number: <strong>{{ student.student_number }}</strong></li>
            <li>Email: <strong>{{ student.email }}</strong></li>
            <li>Field Of Study: <strong>{{ student.field_of_study }}</strong></li>
            <li>GPA: <strong>{{ student.gpa }}</strong></li>
        </ul>
    </div>
  </div>
  {% else %}
  <h5 class="alert alert-primary ms-4 me-4">No Student Records</h5>
  {% endif %}
{% endblock %}