{% extends 'index.html' %}
{% block content %}
    <h1>All Employees</h1>
    {% if employees %}
        {% for employee in employees %}
            <h2>{{ employee.first_name }} {{ employee.last_name }}</h2>
            <a href="{% url 'edit-employee' employee.id %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'delete' employee.id %}">
                <button>Delete</button>
            </a>
            <ul>
                <li>Department: {{ employee.department }}</li>
                <li>Projects:
                    <ul>
                        {% for project in employee.projects.all %}
                           <li>{{ project.name }}</li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        {% endfor %}
    {% endif %}
{% endblock %}
