{% extends 'base.html' %}
{% block content %}
<div id="box">

    <header>
        <!-- Navigation Bar -->
        {% include 'partials/navbar.html' %}
    </header>

    <!-- edit profile form -->
    <section id="register-page" class="content auth">
        <form id="register" method="post">
            <div class="container">
                <h1>Edit Profile</h1>

                {% csrf_token %}
                {{ form }}
                <input class="btn" type="submit" value="Edit Profile">
            </div>
        </form>
    </section>
</div>
{% endblock %}
