{% extends 'base.html' %}
{% block content %}
<div id="box">
    <header>
        <!-- Navigation Bar -->
      {% include 'partials/navbar.html' %}
    </header>

    <!-- details section -->
    <section id="car-details">
        <h1>Plant Details</h1>
        <div class="info-section">
            <div class="car-header">
                <!-- plant image -->
                <img class="car-img"
                     src="{{ plant.image }}"
                     alt='plant image'/>
                <!-- plant type -->
                <h1>Indoor Plants</h1>
                <!-- plant name -->
                <p><span class="description-plant">Name: {{ plant.name }}</span></p>
                <!-- plant price -->
                <p><span class="description-plant">Price: {{ plant.price }}</span></p>
                <!-- plant description -->
                <p><span class="description-plant">Description: {{ plant.description }}</span></p>
            </div>

            <!-- Edit/Delete buttons -->
            <div class="buttons">
                <a href="{% url 'edit-plant' plant.id %}" class="edit-button">Edit</a>
                <a href="{% url 'delete-plant' plant.id %}" class="delete-button">Delete</a>
            </div>
        </div>
    </section>
</div>
{% endblock %}